<h1>Hi there!</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label 'Name' %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label 'Email' %><br />
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label 'Password' %>
    <% if @minimum_password_length %>
    ( more than <%= @minimum_password_length %> characters required )
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label 'Password confirmation' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn primary-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
