<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
       <p><%= @user.errors.count %>件のエラーがあります。</p>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  name
  <%= f.text_field :name, class: "form-control name-field" %>

  Email
  <%= f.text_field :email, class: "form-control email-field" %>

  Profile Pic
  <%= f.file_field :image, class: "form-control image-field" %>
  <%= f.submit 'Save', class: "btn primary-btn" %>
<% end %>
