<h1 class="heading">List of Users</h1>

<ul class="user-list">
  <% @users.each do |user| %>
    <li>
      <%= image_for(user) %>
      <%= link_to user.name, user %>
      <%= user.email %>
    </li>
  <% end %>
