<p id="notice" class="alert alert-success"><%= notice %></p>

<aside class="sidebar">
  <section>
    <!-- <span class="label">Profile Pic</span> -->
    <h3 class="user-info">
      <%= image_for(@user) %>
    </h3>
  </section>

  <section>
    <span class="label">User</span>
    <h3 class="user-info"><%= @user.name %></h3>
  </section>

  <!--
  <section>
    <span class="label">Email</span>
    <h3 class="user-info"><%= @user.email %></h3>
  </section>
  -->

  <% if current_user?(@user) %>
    <section>
      <small><%= link_to 'Edit profile', edit_user_path(@user) %></small>
    </section>
  <% end %>

</aside>

<ul class="events">
  <%= render @events %>
</ul>

<div id="calendar"></div>
