<% if user_signed_in? %>
  <aside class="sidebar">
    <%= render 'events/form' %>
  </aside>
  <ul class="notes">
    <h2>List of events</h2>
    <%= render @events %>
  </ul>
<% else %>
  <div class="top-wrapper">
    <%= image_tag "logo.png" %>
    <div class="register-wrapper">
      <h1><%= @message %></h1>
      <%= link_to "Signup", new_user_registration_path, class: "btn btn-large register-btn" %>
    </div>
  </div>
<% end %>
