<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @event.errors.count %>errors</h2>

      <ul>
        <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  Title
  <%= f.text_field :title, class: "form-control title-field" %>
  Description
  <%= f.text_area :description, class: "form-control content-field" %>
  <%= f.submit 'Save', class: 'btn primary-btn' %>

<% end %>
