<p id="notice" class="alert alert-success">
  <%= notice %>
</p>

<h2>Title</h2>
<p><%= @event.title %></p>
<h2>description</h2>
<p><%= @event.description %></p>

<% if current_user?(@event.user) %>
  <%= link_to "Edit", edit_event_path(@event.id), class: 'btn edit-btn' %>
  <%= link_to "Delete", event_path(@event.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "Are you sure you want to delete it?" %>
<% end %>
