<h1>Login</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label 'Email' %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label 'Passoword' %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label 'Remember me' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Login", class: "btn primary-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
