<!DOCTYPE html>
<html>
  <head>
    <title>Circle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='lib/jquery.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
  </head>

  <body>
    <script>
      $(document).ready(function() {

  // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
      // put your options and callbacks here
        })

      });
    </script>

    <header class="navbar">
      <div class="container">
        <div id="logo"><%= link_to "Circle", root_path %></div>
        <% if user_signed_in? %>
          <ul class="header-right">
            <li><%= link_to "List of Users", users_path %></li>
            <li><%= link_to current_user.email, current_user %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul class="header-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "SignUp now", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </header>

    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

    <div class="container">
      <footer class="footer">
        <div class="small">
          &copy; 2017 Circle, Inc.
        </div>
      </footer>
    </div>

  </body>
</html>
